NODE_ENV=development
PORT=3000
ALLOW_ORIGINS=http://localhost:5173
WP_API_BASE=https://admin.aryatek.co.id/wp-json/wp/v2
SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_DATABASE_URL=https://monitoring-panel-77a07-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_DB_REF=wiring
